name: cardamom_leaves_disease_detector
description: "A new Flutter project."
publish_to: 'none'

version: 0.1.0

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  camera: ^0.11.0
  image_picker: ^1.1.2
  image: ^4.2.0
  path_provider: ^2.1.4
  shared_preferences: ^2.2.2
  permission_handler: ^12.0.1
  tflite_flutter: ^0.12.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/models/cardamom_disease_model.tflite
    - assets/images/cardamom_leaf.jpeg
    - assets/labels.txt
